
.display-width
  width 100%
  
#content
  height 89vh
  padding-left 20px
  overflow auto
  white-space nowrap

.article
  display inline-block
  width 350px
  margin 0 5px
  vertical-align top
  position relative


.task, .article
  white-space normal

.listTitle
  display inline-block

.destroy, .rename
  cursor pointer
  position absolute
  top 5px
  right 10px
  font-size 20px

.rename
  right 40px
  
.list-group
  list-style none
.btnAddItem
  width 100%

.task
  border 1px solid #CCCCCC
  border-radius 15px
  padding 5px 10px 5px
  margin 5px
  position relative
  &__delete
    position absolute
    top 0
    right 0
    font-size 18px
    cursor pointer
  &__edit
    position absolute
    top 0
    right 30px
    font-size 20px
    cursor pointer
.emptySpace
  height 32px
  border-radius 15px
  border 1px dotted black
  margin 5px
