.display-width
  width 100%
  
#content
  height 89vh
  padding-left 20px
  overflow auto
  white-space nowrap

.article
  display inline-block
  width 240px
  margin 0 5px
  vertical-align top


.task, .article
  white-space normal
